<a href="https://colab.research.google.com/github/ewattudo/vis1/blob/main/ps2_pynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PS2 Manipulating Data and Merging - Erick Watt-Udogu

## **Import: Code**

This section includes import code.

In [1]:
import os, sys, re #basics
import zipfile, json, datetime, string   #string for annotating points in scatter 
import numpy as np
from statistics import *

import pylab as plt
import pandas as pd
import pandas_datareader as pdr
from pandas_datareader import wb
from pandas.io.formats.style import Styler
#s4 = Styler(df4, uuid_len=0, cell_ids=False)


import urllib  #weird, guess need to have os and pandas imported for this to work                                                  
                                                                          
import webbrowser                                                                      
import folium as f                                                                     
from folium.plugins import MarkerCluster, HeatMap                                      

#! pip install geocoder #]later maybe
! pip install geopandas #this is how you install packages on colab
import geopandas as gpd                                                                                       
#from geopy.geocoders import Nominatim #later maybe

import seaborn as sns

#many tricks how to extend notebook functionality
#https://coderzcolumn.com/tutorials/python/list-of-useful-magic-commands-in-jupyter-notebook-lab
#will display all output not just last command
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting geopandas
  Downloading geopandas-0.12.2-py3-none-any.whl (1.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.1/1.1 MB 8.7 MB/s eta 0:00:00
Collecting fiona>=1.8
  Downloading Fiona-1.9.0-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.9/16.9 MB 17.0 MB/s eta 0:00:00
Collecting pyproj>=2.6.1.post1
  Downloading pyproj-3.4.1-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (7.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.8/7.8 MB 39.6 MB/s eta 0:00:00
Requirement already satisfied: shapely>=1.7 in /usr/local/lib/python3.8/dist-packages (from geopandas) (2.0.1)
Requirement already satisfied: packaging in /usr/local/lib/python3.8/dist-packages (from geopandas) (23.0)
Requirement already satisfied: pandas>=1.0.0 in /usr/local/lib/python3.8/dist-packages (from geopandas) (1.3.5)
Collecting click~=8.0
  Downloading click-8.1.3-py3-none-any.whl (96 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 96.6/96.6 KB 3.7 MB/s eta 0:00:00
Collecting munch>=2.3.2
  Downloading munch-2.5.0-py2.py3-none-any.whl (10 kB)
Collecting cligj>=0.5
  Downloading cligj-0.7.2-py3-none-any.whl (7.1 kB)
Collecting click-plugins>=1.0
  Downloading click_plugins-1.1.1-py2.py3-none-any.whl (7.5 kB)
Requirement already satisfied: certifi in /usr/local/lib/python3.8/dist-packages (from fiona>=1.8->geopandas) (2022.12.7)
Requirement already satisfied: attrs>=19.2.0 in /usr/local/lib/python3.8/dist-packages (from fiona>=1.8->geopandas) (22.2.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.0.0->geopandas) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.0.0->geopandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.0.0->geopandas) (1.21.6)
Requirement already satisfied: six in /usr/local/lib/python3.8/dist-packages (from munch>=2.3.2->fiona>=1.8->geopandas) (1.15.0)
Installing collected packages: pyproj, munch, click, cligj, click-plugins, fiona, geopandas
  Attempting uninstall: click
    Found existing installation: click 7.1.2
    Uninstalling click-7.1.2:
      Successfully uninstalled click-7.1.2
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
flask 1.1.4 requires click<8.0,>=5.1, but you have click 8.1.3 which is incompatible.
Successfully installed click-8.1.3 click-plugins-1.1.1 cligj-0.7.2 fiona-1.9.0 geopandas-0.12.2 munch-2.5.0 pyproj-3.4.1

## **Import: Data**
This section is code for importing data.

### Import: Data File 1: Application Data

In [4]:
urllib.request.urlretrieve("https://raw.githubusercontent.com/ewattudo/vis1/main/appdata.csv", "appdata.csv")

('appdata.csv', <http.client.HTTPMessage at 0x7f78904879d0>)

In [5]:
os.getcwd() #pwd
os.listdir() #compare to clicking on the left the folder icon #dir

'/content'

['.config', 'appdata.csv', 'sample_data']

In [6]:
dat=pd.read_csv('appdata.csv')

In [7]:
dat.columns

Index(['ID ', 'Degree Type', 'Final Recommended Decision', 'Admit-Coming',
       'Application Created Date', 'Days Before the Beginning of Semester ',
       'Domestic or INTL Applicant', 'Reporting Term', 'Age When Applied',
       'Mailing Zip/Postal Code', 'Mailing State/Province', 'Mailing Country',
       'Most Recent Educational Institution: Account Name', 'Gender', 'Race',
       'Program Selection: Program Selection Name', 'Admissions Status'],
      dtype='object')

In [10]:
dat.head(3)

,ID,Degree Type,Final Recommended Decision,Admit-Coming,Application Created Date,Days Before the Beginning of Semester,Domestic or INTL Applicant,Reporting Term,Age When Applied,Mailing Zip/Postal Code,Mailing State/Province,Mailing Country,Most Recent Educational Institution: Account Name,Gender,Race,Program Selection: Program Selection Name,Admissions Status
0,1,"Master's (e.g. MA, MS, EdM, MFA)",NaN,0,12/7/2021,273,International,Fall 2022,23.0,56407,Pradesh 2,Nepal,Vellore Institute Of Technolog,Male,Asian,Biology: Computational and Integrative (MS),Started App
1,2,"Master's (e.g. MA, MS, EdM, MFA)",NaN,0,1/2/2022,247,International,Fall 2022,21.0,380058,Gujarat,India,Ahmedabad University,Female,Asian,Biology: Computational and Integrative (MS),Started App
2,3,"Master's (e.g. MA, MS, EdM, MFA)",NaN,0,3/15/2022,175,Domestic,Fall 2022,22.0,07009-1245,New Jersey,United States,Mount Olive High School,Male,Asian,Biology: Computational and Integrative (MS),Started App

### Import: Data File 2: New Jersey Unemployment Data by County

In [11]:
urllib.request.urlretrieve("https://raw.githubusercontent.com/ewattudo/vis1/main/R13290836_SL050.csv", "njunemp21.csv")

('njunemp21.csv', <http.client.HTTPMessage at 0x7f788f681f10>)

In [12]:
os.getcwd() #pwd
os.listdir() #compare to clicking on the left the folder icon #dir

'/content'

['.config', 'appdata.csv', 'njunemp21.csv', 'sample_data']

In [13]:
dat=pd.read_csv('njunemp21.csv')

In [14]:
dat.columns

Index(['Geo_FIPS', 'Geo_NAME', 'Geo_QNAME', 'Geo_NATION', 'Geo_STATE',
       'Geo_COUNTY', 'Geo_MSA', 'ORG_US_007_001', 'ORG_US_007_002',
       'ORG_US_007_003', 'ORG_US_007_004', 'ORG_US_Unemployment_027_001',
       'ORG_US_Unemployment_027_002', 'ORG_US_Unemployment_027_003',
       'ORG_US_Unemployment_027_004', 'ORG_US_Unemployment_020_001',
       'ORG_US_Unemployment_020_002', 'ORG_US_Unemployment_020_003',
       'ORG_US_Unemployment_020_004', 'ORG_US_035_001', 'ORG_US_035_002',
       'ORG_US_035_003', 'ORG_US_035_004'],
      dtype='object')

In [15]:
dat.head(3)

,Geo_FIPS,Geo_NAME,Geo_QNAME,Geo_NATION,Geo_STATE,Geo_COUNTY,Geo_MSA,ORG_US_007_001,ORG_US_007_002,ORG_US_007_003,...,ORG_US_Unemployment_027_003,ORG_US_Unemployment_027_004,ORG_US_Unemployment_020_001,ORG_US_Unemployment_020_002,ORG_US_Unemployment_020_003,ORG_US_Unemployment_020_004,ORG_US_035_001,ORG_US_035_002,ORG_US_035_003,ORG_US_035_004
0,34001,Atlantic County,"Atlantic County, New Jersey",0,34,1,NaN,121301,108221,13080,...,30795,24.0,-7080,10635,-17715,-13.2,-5.514835,10.898080,-57.525572,-55.000000
1,34003,Bergen County,"Bergen County, New Jersey",0,34,3,NaN,469719,435114,34605,...,70140,14.1,-26560,8975,-35535,-6.7,-5.351828,2.106120,-50.662960,-47.517730
2,34005,Burlington County,"Burlington County, New Jersey",0,34,5,NaN,232113,216827,15286,...,27756,11.8,-2988,9482,-12470,-5.2,-1.270943,4.573055,-44.927223,-44.067797

### Import: Data File 3: New Jersey Zip Codes

In [9]:
#Found this code at https://towardsdatascience.com/2-easy-ways-to-get-tables-from-a-website-with-pandas-b92fc835e741 save for later 
pd.read_html('https://www.corragroup.com/new-jersey-county-lookup.html')

[                   City ZIP Code      County
 0                   A C    08401    ATLANTIC
 1              ABERDEEN    07747    MONMOUTH
 2               ABSECON    08201    ATLANTIC
 3       ABSECON HEIGHTS    08201    ATLANTIC
 4     ABSECON HIGHLANDS    08201    ATLANTIC
 ...                 ...      ...         ...
 1250        WRIGHTSTOWN    08562  BURLINGTON
 1251            WYCKOFF    07481      BERGEN
 1252          YARDVILLE    08620      MERCER
 1253           ZAREPATH    08873    SOMERSET
 1254          ZAREPHATH    08890    SOMERSET

 [1255 rows x 3 columns]]

In [8]:
pd.read_html('https://www.corragroup.com/new-jersey-county-lookup.html')[0]

                   City ZIP Code      County
0                   A C    08401    ATLANTIC
1              ABERDEEN    07747    MONMOUTH
2               ABSECON    08201    ATLANTIC
3       ABSECON HEIGHTS    08201    ATLANTIC
4     ABSECON HIGHLANDS    08201    ATLANTIC
...                 ...      ...         ...
1250        WRIGHTSTOWN    08562  BURLINGTON
1251            WYCKOFF    07481      BERGEN
1252          YARDVILLE    08620      MERCER
1253           ZAREPATH    08873    SOMERSET
1254          ZAREPHATH    08890    SOMERSET

[1255 rows x 3 columns]